<h1>New Dose for <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<div class="form-inputs">
    <%= f.input :description %>
    <%= f.association :ingredient %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <%= link_to 'Back', cocktails_path %>
<% end %>
